.card {
    width: 484px;
    height: 425px;
    align-items: center;

}

.input-user input {
    width: 350px;
    height: 42px;
}

.t-h2 h2 {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #8E8B8B;
    text-align: center;

}

.t-h2 {
    margin-top: 46px !important;
    margin-bottom: 30px;
}

.input-user input {
    width: 354px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #C2C2C2
}


.input-user input:focus {
    outline: none;
}

.input-password input:focus {
    outline: none;
}

.input-password {
    margin-bottom: 40px;
}

.input-password input {
    width: 345px;
    height: 40px;
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    border: none;

}

.input-user p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E8B8B;
    margin-bottom: 9px;

}

.input-password p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8E8B8B;
    margin-top: 7px !important;
    margin-bottom: 9px !important;
}



.btn {
    margin-bottom: 72px;
    padding: 0;
    color: #FFFFFF
}

.btn button {
    width: 426px;
    height: 47px;
    background: #AAA9A9;
    border-radius: 10px;
    border: none;
    padding: 0;
    color: #FFFFFF;
}

.brd {
    display: inline-flex;
    width: 354px;
    height: 42px;
    border: 1px solid #C2C2C2;
    border-radius: 10px;

}

.brd svg {
    width: 30x;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;

}

.lupa-pass {

    margin-top: 8px
}

.lupa-pass p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    cursor: pointer;
    margin: 0px !important
}