/* sidebar */
.sidebar {
  background-color: #7bd9e8;
  border-radius: 30px !important;
}

.icon-dasboard {
  font-size: 200%;
}

.menu-sidebar:hover {
  background-color: #45c2d6;
  border-radius: 10px !important;
}

.menu-sidebar.active {
  background-color: #45c2d6;
}

/* dasboard  */
.Fontcolor-Dasboard {
  color: #7bd9e8;
}

.background-color-card-rsud {
  background-color: #7bd9e8;
  border-radius: 10px;
}

.title-das {
  color: #4e7ea7;
  /* margin-top: 6%; */
}

.Card-TotalAdmin {
  padding-bottom: 10%;
  border-radius: 20px;
  border: solid;
  padding-left: 36.54px;
  padding-top: 30px;
  background: white;
}

.card-faskes,
.card-faskes1 {
  background-color: #45c2d6;
  border-radius: 10px;
}

.card-faskes {
  padding: 5% 15%;
}

.card-faskes1 {
  padding: 5% 7%;
}

/* kelola berita */
.fz-Head {
  font-size: 24px;
  color: #4e7ea7;
}

.fz-Title {
  font-size: 36px;
  color: #4e7ea7;
}

.Margin-top-Serch {
  margin-top: 25px;
}

.Fz-16 {
  font-size: 16px;
  color: #4e7ea7;
}

.LinkText {
  color: #ffffff;
  cursor: pointer;
}

.LinkText:hover {
  background-color: #45c2d6 !important;
}

.background-color-Table {
  background-color: #45c2d6;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  justify-content: center;
}

.TabelkelolaBerita {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
}

.TabelDataBooking {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

/* Kelola pengguna */

.Addusers-button {
  height: 34px;
  width: 74px;
}

.TotalPengguna {
  height: 26px;
}

.Select15 {
  font-size: 14px;
  border-radius: 2px;
  border: 1px #c2c2c2;
  border-color: #c2c2c2;
}

.Select15 select {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #829ccc;
  color: #829ccc;
}

.PointerClikCss {
  cursor: pointer;
  border: "none";
}
.InputCssKelolaPengguna {
  width: "251px";
  height: 24px;
  border: none;
  border-radius: 2px;
}
.BorderRadiusInline {
  border-radius: 2px;
  border: 1px solid #829ccc !important;
  color: #829ccc !important;
}

.BorderRadiusInline :focus {
  outline: none;
}

.TableColor-child:nth-child(even) {
  background-color: #f7f7f7;
}

/* keloal Jadwal Vaksin */
.margin-rigth {
  margin-right: 33px !important;
  margin-left: 33px !important;
}

/* TabelJadwalVaksinasi */

.TabelJadwalVaksinasi {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
}

.md svg {
  margin-right: 7px;
  margin-bottom: 5px;
}

.border:focus {
  outline: none;
}

/* TebelAdmin */
.TabelAdmin {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.TabelkelolaBerita {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

/* kelolaJadwalVaksin */

.bg-card-kelola {
  background-color: #7bd9e8 !important;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bg-form-jadwal {
  background-color: #f7f7f7;
  padding-left: 36px !important;
  padding-right: 36px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* login */
.card-Login {
  width: 484px;
  height: 423px;
  align-items: center;
  border: 2px solid #45c2d6;
  box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-top: 13.29px;
}
*/ .btn-kelola-jadwal {
  background-color: #7bd9e8;
  border: 0px;
  padding: 7px 34px;
}

.btn-kelola-jadwal1 {
  background-color: #f7f7f7;
  border: 0px;
}

.img-input {
  border-style: dashed;
  padding: 10%;
  cursor: pointer;
  background: none;
}

.img-input > label > input {
  display: none;
}

.img-card {
  background-color: white;
  padding: 20px;
  margin: 0px 30px;
}

.card-text {
  font-size: 13px;
}

.input-kelola,
.input-kel,
.input-kel-area {
  background-color: #ffff;
  border-radius: 0px;
}

.input-kel {
  width: 10% !important;
  background-color: white;
}

.FormArtikelTerbaru {
  background-color: #d9d9d9;
  justify-content: center;
}

/* login */
.tabel {
  width: 484px;
  height: 423px;
  align-items: center;
}

.FormArtikel {
  background-color: #aaa9a9;
  width: 100vw;
}
.head {
  margin-top: 165px !important;
  margin-bottom: 165px !important;
  background: #ffffff;
}

.input-kel {
  background-color: #aaa9a9;
  width: 10% !important;
}

/* Kelola data Admin  */
.input-are-area {
  padding-bottom: 40% !important;
  background-color: #ffff;
}

.email-area {
  padding-bottom: 22%;
  background-color: #ffff;
}

.t-h2 h2 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #4e7ea7;
}

.t-h2 {
  margin-top: 46.5px;
  margin-bottom: 38px;
}

.input-user input {
  width: 354px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
}

.input-user input:focus {
  outline: none;
}

.input-password input:focus {
  outline: none;
}

.input-password {
  margin-bottom: 18px;
  color: #4e7ea7;
}

.input-password input {
  width: 330px;
  height: 38px;
  border-radius: 10px;
  border: none;
}

.input-user p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e7ea7;
  margin-bottom: 9px;
}

.input-password p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 19px;
  margin-bottom: 9px !important;
}

.btn {
  margin-bottom: 46.5px;
  padding: 0;
}

.btn button {
  width: 354px;
  height: 46px;
  border-radius: 10px;
  border: none;
  padding: 0;
  background: #7bd9e8;
  color: #ffffff;
}

.brd {
  display: inline-flex;
  width: 354px;
  height: 42px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
}

.brd svg {
  width: 30x;
  height: 30px;
  margin-top: 7px;
  cursor: pointer;
}

.lupa-pass {
  margin-top: 8px;
}

.lupa-pass p {
  /* width: 81px; */
  height: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  margin: 0px !important;
  justify-content: end;
  display: flex;
}

/* tabel  */
.Border-Color-Box {
  border: 5px solid #45c2d6;
}

/* button admin */
.Button-add-admin {
  background-color: #7bd9e8;
  border: none;
  border-radius: 10px;
  width: 124px;
  height: 25px;
  left: 1283px;
  top: 176px;
  color: #ffffff;
  font-size: 12px;
}

/* FormKelolaJadwal */

.borderInput input {
  border: 1px solid #d9d9d9;
}

.borderInput input:focus {
  outline: none;
}

.borderInput textarea {
  border: 1px solid #d9d9d9;
}

.borderInput textarea:focus {
  outline: none;
}

/* Booking vaccine */
.Pointer-Booking {
  cursor: pointer;
}
/* PopUpPengguna */
.pop-title {
  background-color: #7bd9e8;
}

.data-popup {
  border-bottom: solid #829ccc;
  padding-bottom: 10px;
}

ul > li > h5,
.data-popup {
  color: #829ccc;
  margin-right: 20px;
  margin-top: 20px;
}

div > ul {
  list-style-type: none;
}

.modal-content {
  border-radius: 20px !important;
  overflow: hidden !important;
  height: 83% !important;
}

.btn-close {
  background-color: white;
}

/* popup Admin */

.data-popup-radio {
  color: #829ccc;
}

.editpop,
.popRadio {
  width: 97%;
}

.modEdit {
  border-radius: 20px !important;
  overflow: hidden !important;
  height: 65% !important;
}

.modView {
  border-radius: 20px !important;
  overflow: hidden !important;
  height: 83% !important;
}

.Background-White {
  background-color: white;
}
