/* sidebar */
.sidebar {
  background-color: #d9d9d9;
  border-radius: 30px !important;
}

.menu-sidebar:hover {
  background-color: #c2c2c2;
  border-radius: 10px !important;
}

.menu-sidebar.active {
  background-color: #c2c2c2;
}

/* dasboard  */
.Fontcolor-Dasboard {
  color: #aaa9a9;
}
.background-color-card-rsud {
  background-color: #c2c2c2;
  border-radius: 10px;
}

/* kelola berita */
.fz-Head {
  font-size: 24px;
}

.fz-Title {
  font-size: 36px;
}

.Margin-top-Serch {
  margin-top: 25px;
}

.Fz-16 {
  font-size: 16px;
}

.LinkText:hover {
  color: #aaa9a9;
  font-size: 14;
}

.background-color-Table {
  background-color: #c2c2c2;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  font-size: 14px;
  align-items: center;
  color: #8e8b8b;
  font-weight: 600;
  justify-content: center;
}

.TabelkelolaBerita {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
}

.TabelDataBooking {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
}


/* Kelola penggun */

.Addusers-button{
  height: 34px;
  width: 74px;
}
.TotalPengguna{
  height: 26px;
}
.Select15{
  font-size: 14px;
  border-radius: 2px;
  border: 1px #C2C2C2;
  border-color: #C2C2C2;
}
.PointerClikCss{
  cursor: pointer;
  border: "none";
}
.InputCssKelolaPengguna{
  width: "251px";
  height: 24px;
  border: none;
  border-radius: 2px;
}
.BorderRadiusInline{
  border-radius: 2px;
  border: 2px black;
}
.TableColor-child:nth-child(even) {
  background-color: #D6EEEE;
}
/* keloal Jadwal Vaksin */
.margin-rigth {
  margin-right: 33px !important;
  margin-left: 33px !important;
}
/* TabelJadwalVaksinasi */

.TabelJadwalVaksinasi {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;

}


.md svg {
  margin-right: 7px;
  margin-bottom: 5px;
}

.border:focus {
  outline: none;
}

/* TebelAdmin */
.TabelAdmin {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;

}
.TabelkelolaBerita{
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
}

/* kelolaJadwal */
.bg-card-kelola{
    background-color: #C2C2C2 !important;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bg-form-jadwal{
    background-color: #D9D9D9;
    padding-left: 36px !important;
    padding-right: 36px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.btn-kelola-jadwal{
    background-color: #C2C2C2;
    border: 0px;
    padding: 7px 34px;

}
.btn-kelola-jadwal1{
    background-color: #D9D9D9;
    border: 0px;
    
}

.img-input{
    border-style: dashed;
    padding: 10%;
    cursor: pointer;
    background:none;
}

.img-input>label>input{
    display: none;
   
}

.img-card{
    background-color: white;
    padding: 20px ;
    margin: 0px 30px;
}

.card-text{
    font-size: 13px;
    
    
}

.input-kelola,.input-kel,.input-kel-area{
    background-color: #AAA9A9;
}

.input-kel{
    background-color: #AAA9A9;
    width: 10% !important;
}

.FormArtikelTerbaru {
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
}

.FormArtikel {
  background-color: #aaa9a9;
  width: 100vw; }
.head {
  margin-top: 215px !important;
  margin-bottom: 215px !important;
}

.input-kel {
  background-color: #aaa9a9;
  width: 10% !important;
}

/* Kelola data Admin  */
.input-are-area{
  padding-bottom: 40% !important;
  background-color: #AAA9A9;
}

.email-area{
  padding-bottom: 22%;
  background-color: #AAA9A9;
}

